body {
padding:30px 0;
background: white url(../img/bg.png) 0 0;
}
div#body {
background-color: white;
margin: 0 auto;
width: 850px;
height: auto;
border: 3px solid black;
padding: 10px;
border-radius: 20px;
box-shadow: 5px 5px 0 black;
}
.i1, .i2, .i3, .i4, .i5, .i6 {
background-color: white;
margin:0 auto;
}
.i1 {
height: 7px;
width: 866px;
border-left: 3px solid black;
border-right: 3px solid black;
}
.i2 {
height: 5px;
width: 862px;
border-left: 3px solid black;
border-right: 3px solid black;
}
.i3 {
height: 3px;
width: 858px;
border-left: 3px solid black;
border-right: 3px solid black;
}
.i4 {
height: 3px;
width: 850px;
border-left: 5px solid black;
border-right: 5px solid black;
}
.i5 {
height: 3px;
width: 838px;
border-left: 7px solid black;
border-right: 7px solid black;
}
.i6 {
height: 0px;
width:838px;
border-top: 3px solid black;
}
div#banner{
padding: 7px 0;
height:100px;
border-bottom: 3px solid black;
}
div#banner a{
text-align:center;
text-decoration:none;
display:block;
height:100px;
}
div#banner span{
font-size: 50pt;
font-weight: bold;
font-family: Tahoma;
color: #e78b2c;
text-shadow: 5px 5px 0 black;
}
div#wrapper {
border-bottom: 3px solid black;
}
div#content{
height:100%;
width:70%;
float:left;
}
div#content p{
font-family: Verdana;
font-size: 11pt;
margin: 20px 5px;
}
div#sidebar {
height:100%;
width:30%;
float: right;
}
.clear {
clear:both;
}
div#copy{
padding-top: 2px;
font-family: Verdana;
font-size: 8pt;
text-align: right;
}
img#artist{
float: right;
padding: 5px;
margin: 5px;
border: 2px solid #e78b2c;
border-radius: 5px;
}
div#gallery{
margin-top: 10px;
padding: 0 5px 5px 5px;
border-bottom: 3px solid black;
color: #e78b2c;
}
div#minigal{
text-align: center;
}
div#gallery a{
font-size: 11pt;
font-family: Tahoma;
font-weight: bold;
text-align: left;
color: gray;
text-decoration: none;
}
div#gallery a:hover{
color: #e78b2c;
text-decoration: underline;
}
a img#gallery{
border: 5px dashed gray;
margin: 15px
}
a img#gallery:hover{
border: 5px dashed #e78b2c;
}
hr{
border: 0;
height:3px;
color: black;
background-color: black;
}
h1{
font-size: 22pt;
font-family: Tahoma;
color: #e78b2c;
}
h2{
font-size: 18pt;
font-family: Tahoma;
color: #e78b2c;
}
h3{
font-size: 13pt;
font-family: Tahoma;
color: #e78b2c;
margin: 2px;
}
table#contact{
margin: 10px 5px;
}
table#contact th{
font-size: 13pt;
font-family: Tahoma;
text-align: left;
color: #e78b2c;
}
table#contact td{
font-size: 11pt;
font-family: Tahoma;
text-align: left;
}
table#contact td a{
text-decoration: none;
color: gray;
}
table#contact td a:hover{
color: #e78b2c;
text-decoration: underline;
}
table#contact td.type{
font-size: 10pt;
font-weight: bold;
font-family: Tahoma;
text-align: right;
}